bin/Debug/net6.0/apinet6.dll
bin/Debug/net6.0/apinet6.pdb
obj/apinet6.csproj.nuget.dgspec.json
obj/apinet6.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/apinet6.assets.cache
obj/Debug/net6.0/apinet6.csproj.FileListAbsolute.txt
obj/Debug/net6.0/apinet6.dll
obj/Debug/net6.0/apinet6.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/apinet6.genruntimeconfig.cache
obj/Debug/net6.0/apinet6.pdb
obj/Debug/net6.0/apinet6.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/apinet6.assets.cache
